
input, 
textarea,
 select{
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: 8px 0;
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.radio{
  margin-bottom: 10px;
  width: 20px;
}
.home-content button{
  background-color: rgb( 6 183 233);
  color: white;
  width: 150px;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 15px;
  border-radius: 5px;

}
label{
  display: block;
}
form{
  width: 100%;
}

.alert{
  margin: 10px;
  padding: 15px;
  color: white;
  border-radius: 10px;
}
.alert.danger{
  background-color: red;
}
.alert.succes{
  background-color:green;
}
/*css tableau*/
table.mtable{
  width:100% ;
  border-collapse:collapse;
  border: 1px solid #ddd;
}
th, td{
  text-align: left;
  padding: 10px;
}
table.matable tr:nth-child(even){
  background: #f2f2f2;
}
table.mtable td{
 padding: 10px;
}

/*css tableau*/
ul.mtable, ol.mtable{
  padding: 0;
  margin: 0;
  list-style: none;

}
ul.mtable li, ol.mtable li{
  padding: 10px;
}
ul.matable li:nth-child(even),
ol.matable li:nth-child(even){
  background: #f2f2f2;
}